# General
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.idea/
.vscode/
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Environment files
.env

# Streamlit files
.streamlit/

# Local development
instance/
.webassets-cache
kft_app_local_Embed.py
kft_app_KBLAB.py
kft_groq.py
kft_gemini.py
